#userName{
    text-align: center;
    color: brown
}
#h1{
    text-align: center;
    background-color: lightcoral;
    color: white;
    padding: 10px;
}
.card{
    margin-top: 20px;
}
.bloodgroup{
    font-size: 1.5em;
    color: red;
    padding-left: 10px;
    font-weight: bold;
}

